
<div id="series-example">Поиск сериала</div>

<input type="checkbox" id="year-checkbox">Год выпуска:<br>
<input id="series_year-input" class="input-year-field" type="number" min="1900" value="1900" autocomplete="off"></input>
<br>

<input type="checkbox" id="episodes-checkbox">Количество сезонов (не менее, чем):<br>
<input id="series_episodes-input" class="input-year-field" type="number" min="1" value="1" autocomplete="off"></input>
<br>

<input type="checkbox" id="keywords-checkbox">Ключевые слова (через запятую):<br>
    <input id="series_keywords-input" class="input-name-field" type="text" autocomplete="off"></input>
<br>

<button id="button-find-series" type="button" class="btn btn-success button-load-series"></button>