
<div id="series-example">Добавление сериала</div>
    Название:<br>
    <input id="series_name-input" class="input-name-field" type="text" autocomplete="off"></input>
    <br>
    
    Год выпуска:<br>
    <input id="series_year-input" class="input-year-field" type="number" min="1900"  autocomplete="off"></input>
    <br>

    Количество сезонов:<br>
    <input id="series_seasons-input" class="input-year-field" type="number" min="1"  autocomplete="off"></input>
    <br>

    Описание:<br>
    <input id="series_description-input" class="input-description-field" type="text" autocomplete="off"></input>
    <br>

<button id="button-load-series" type="button" class="btn btn-success button-load-series"></button>